@import "@/shared/styles/typography.scss";

.button {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background: none;

    max-width: 100%;
    border-radius: 12px;
    background: var(--green-color-main);
    border: 1px solid var(--green-color-main);

    padding: 20px 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    transition-duration: 0.15s;
    transition-timing-function: ease;

    @include font(inherit, 16px, 500, 18px, var(--foreground));

    @media (hover: hover) {
        &:not(:disabled):hover {
            background: var(--green-text-color);
            border: 1px solid var(--green-text-color);
        }
    }

    &.svg_only {
        display: flex;
        align-items: center;
    }

    &.loading {
        pointer-events: none;
    }

    &:disabled {
        background: var(--grey-block-accent);
        color: var(--grey-text-color);
        border-color: var(--grey-block-accent);
        cursor: not-allowed;
    }

    &.medium {
        @include font(inherit, 15px, 500, 24px);
        padding: 14px 25px;
    }

    &.regular {
        @include font(inherit, 14px, 500, 18px);
        padding: 12px 17px;
    }

    &.small {
        @include font(inherit, 13px, 500, 18px);
        padding: 10px 16px;
    }

    &.ex_small {
        @include font(inherit, 13px, 500, 18px);
        padding: 8px 16px;
    }
}
