@import "@/shared/styles/typography.scss";

.inform {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 23px 0px 26px 0px;

    &__item {
        display: flex;
        max-width: 240px;
        gap: 12px;

        svg {
            display: block;
            width: 28px;
        }
    }

    &__label {
        @include font_caption_1(var(--grey-text-color));
        margin-bottom: 4px;
        span {
            color: var(--main-text-color);
        }
    }

    &__value {
        @include font_subtitle_5(var(--main-text-color));
    }
}
