:root {
    --main-block: #ffffff;
    --foreground: #ffffff;
    --main-text-color: #2d3237;
    --background-color: #4e5660;

    --green-color-main: #00c95c;
    --green-color-dark-2: #007c39;
    --green-text-color: #00a14a;
    --green-background-1: #dbf2e4;

    --blue-color-main: #2389fd;
    --blue-color-dark: #0b6ede;
    --blue-background: #dcecfe;

    --grey-text-color: #7d8695;
    --grey-block-accent: #e6ebf0;
    --grey-accent-2: #515963;

    --purple-background: #e4e2fb;
    --purple-color-main: #7737ff;

    --red-color-main: #e34a5c;
    --red-background-1: #fcebef;

    --yellow-color-dark: #aa8500;
}
